body {
    background-color:rgb(51, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    text-align: center;
    font-size: xx-large;
}
ul {
    text-align: center;
    color:white;
}
a:link {
    color:white;
}
a:visited {
    color:white;
}
.container {
    height:100px;
    width:100px; 
}
.musicnotes1 {
    position:absolute;
    top:100px;
    left:50px;
    width:200px;
    height:200px;
}