@font-face {
    Font-family:'Forest';
    src: url(https://www.1001fonts.com/the-munday-free-version-font.html)
}
img {
    width: 1000px;
}
body {
    background-color:rgb(39, 2, 39);
    text-align: center;
}
h1 {
    font-size:50px;
    font-family:"Forest", sans-sariff;
    color: rgb(255, 46, 220);
}
p {
   font-size: 30px;
   color: rgb(15, 189, 42);
}
div {
    font-size: 40px;
    color: rgb(15, 189, 42);
}