img {
    width: 1000px;
}
body {
    background-color:rgb(177, 255, 238);
    text-align: left;
}
div {
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 30px;
    background-color: lightcoral;
}