body {
    background-color:rgb(177, 255, 238);
}
h1 {
    text-align: left;
    font-size: xx-large;
}
div {
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 30px;
    background-color: lightcoral;
    font-size: x-large;
}