body {
    background-color:rgb(51, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
h1 {
    text-align: center;
    font-size: xx-large;
}
ul {
    text-align: center;
    color:white;
}
a:link {
    color:white;
}
a:visited {
    color:white;
}
img {
    position:absolute;
    top:100px;
    left:50px;
    width:250px;
    height:250px;
}