body {
    background-color:rgb(51, 52, 52);
}
h1 {
    text-align: center;
    font-size: xx-large;
}
ul {
    text-align: center;
    color:white;
}
a:link {
    color:white;
}
a:visited {
    color:white;
}